/obj/
/tests/bins/*.wasm
/cwasm
/.vscode
*.wat

# Backup files etc.

*~
\#*\#
*.bak
*.backup
.*.sw[a-z]

# Mac OS specific

.DS_Store

# Windows specific

Thumbs.db*

# ------- FROM GITHUB ( <3 ) ---------
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
