# ignore the objects created by the compiler
/obj/
# ignore all wasm testfiles. Run the test script to produce them
/tests/bins/*.wasm
/tests/bins/fail/*.wasm
# ignore all the bin.wast files, since make can produce them (you should have the spec tests)
/tests/srcs/core-tests/*bin.wast
#same as above, keep in mind no plain wast files should be here
/tests/scrs/core-tests/*.wast
# ignore the executable
/cwasm
# temporary created my test.sh
/tempfile
/.vscode

# ignore this directory as it contains some local utility scripts
/local

/help.sh

# Backup files etc.

*~
\#*\#
*.bak
*.backup
.*.sw[a-z]

# Mac OS specific

.DS_Store

# Windows specific

Thumbs.db*

# ------- FROM GITHUB ( <3 ) ---------
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
